<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- ================= Add ================= -->
    <servlet>
        <servlet-name>AddMark</servlet-name>
        <servlet-class>com.servlet.AddMarkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddMark</servlet-name>
        <url-pattern>/addMark</url-pattern>
    </servlet-mapping>

    <!-- ================= Update ================= -->
    <servlet>
        <servlet-name>UpdateMark</servlet-name>
        <servlet-class>com.servlet.UpdateMarkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateMark</servlet-name>
        <url-pattern>/updateMark</url-pattern>
    </servlet-mapping>

    <!-- ================= Delete ================= -->
    <servlet>
        <servlet-name>DeleteMark</servlet-name>
        <servlet-class>com.servlet.DeleteMarkServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteMark</servlet-name>
        <url-pattern>/deleteMark</url-pattern>
    </servlet-mapping>

    <!-- ================= Display ================= -->
    <servlet>
        <servlet-name>DisplayMarks</servlet-name>
        <servlet-class>com.servlet.DisplayMarksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayMarks</servlet-name>
        <url-pattern>/displayMarks</url-pattern>
    </servlet-mapping>

    <!-- ================= Reports ================= -->
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.servlet.ReportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>

</web-app>